<html>
    <head>
        <title>
            Car Demand Forecasting
        </title>
    </head>
    <body>
        <form method="post" action="predict">
            <label for="DateTime">Date:</label>
            <input type="date" name="DateTime" placeholder="Select the Date">
            <br>
            <br>
            <label for="Hour">Hour:</label>
            <input type="number" name="Hour" placeholder="Enter the Hour from 1 to 24">
            <br>
            <br>
            <button type="submit">Forecast</button>
        </form>
    </body>
</html>